$maxWidth: 1220px;
$maxWidthTablet: 595px;
$maxWidthPhone: 265px;
$linearGradient: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 100%);
$tabletWidth: 1320px;
$phoneWidth: 770px;

@font-face {
    font-family: 'Roboto';
    src: url("@/assets/fonts/Roboto-Regular.ttf");
}

@mixin defaultWhiteLink {
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    text-decoration: none;
    line-height: 14px;
}
@mixin defaultGreyText {
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 21px;
    color: #737373;
    text-decoration: none;
}
@mixin defaultBlackDesc {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 300;
}
@mixin linearGradientButton {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    text-align: center;
    color: white;
    background: $linearGradient;
    border: none;
    border-radius: 7px;
    padding: 15px 40px;
}
@mixin slide-desc {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
}
@mixin blackBoldText {
    font-family: 'Roboto';
    font-weight: 700;
    text-align: left;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}
@media screen and (max-width: $tabletWidth){
    .container {
        max-width: 645px;
    }
}
@media screen and (max-width: $phoneWidth){
    .container {
        max-width: 330px;
    }
}
