$maxWidth: 1220px;
@font-face {
    font-family: 'Roboto';
    src: url("@/assets/fonts/Roboto-Regular.ttf");
}

@mixin defaultWhiteLink {
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    text-decoration: none;
    line-height: 14px;
}
@mixin defaultGreyText {
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 21px;
    color: #737373;
    text-decoration: none;
}
@mixin defaultBlackDesc {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 300;
}
@mixin linearGradientButton {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    text-align: center;
    color: white;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border: none;
    border-radius: 7px;
    padding: 15px 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

